In [1]:
import sys
import os

# Set PySpark to use the current Python executable
os.environ["PYSPARK_PYTHON"] = sys.executable

print("PYSPARK_PYTHON set to:", sys.executable)

PYSPARK_PYTHON set to: d:\Courses\Pyspark\PySpark_code_samples\.venv\Scripts\python.exe

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("spark_session").master("local[*]").getOrCreate()

In [3]:
spark

In [5]:
student_data = [
    ("001", "Alice", "200"),
    ("002", "Bob", "250"),
    ("003", "Cathy", "300")
]

student_schema = "student_id", "student_name", "student_score"

In [6]:
# create dataframe
student_df = spark.createDataFrame(data=student_data, schema=student_schema)

In [7]:
student_df.show()

+----------+------------+-------------+
|student_id|student_name|student_score|
+----------+------------+-------------+
|       001|       Alice|          200|
|       002|         Bob|          250|
|       003|       Cathy|          300|
+----------+------------+-------------+

In [8]:
student_df.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- student_score: string (nullable = true)

In [9]:
student_df.rdd.getNumPartitions()

16

In [10]:
# Transformation example
passed_student_df = student_df.where("student_score >= 250")

In [11]:
# action example
passed_student_df.show()

+----------+------------+-------------+
|student_id|student_name|student_score|
+----------+------------+-------------+
|       002|         Bob|          250|
|       003|       Cathy|          300|
+----------+------------+-------------+

In [ ]:
# Write the passed students to a CSV file
passed_student_df.write.mode("overwrite").format("csv").option("header", "true").save("data/passed_students_csv")

In [ ]:
# Write the passed students to a single CSV file

passed_student_df.coalesce(1).write.mode("overwrite").format("csv").option("header", "true").save("data/passed_students_csv_single_file")

In [ ]:
# Read the data back
new_data = spark.read.format("csv").option("header", "true").load("data/passed_students_csv")

In [17]:
new_data.show()

+----------+------------+-------------+
|student_id|student_name|student_score|
+----------+------------+-------------+
|       003|       Cathy|          300|
|       002|         Bob|          250|
+----------+------------+-------------+